<div class="jumbotron jumbotron-fluid mt-3 mt-md-0">
    <div class="container">
        <h1 class="display-4">Comunicar bien, la mejor manera para destacarse.</h1>
        <p class="lead">Ser un buen comunicador es más importante de lo que pensamos; y no solamente es útil para el entorno laboral, sino para cualquier contexto o ambiente de nuestra vida; desde el profesional al personal.</p>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-4 text-center">
        <i class="fas fa-battery-quarter fa-3x"></i>
        <hr>
        <p class="lead">Todos los seres humanos comunicamos aunque no todos sabemos comunicar.</p>
    </div>
    <div class="col-md-4 text-center">
        <i class="fas fa-battery-half fa-3x"></i>
        <hr>
        <p class="lead">Una actividad profesional que posee algo de ciencia y arte, cuyos secretos parecen fáciles pero requieren de mucha habilidad.</p>
    </div>
    <div class="col-md-4 text-center">
        <i class="fas fa-battery-full fa-3x"></i>
        <hr>
        <p class="lead">La persona que se dedica a transmitir eficientemente un mensaje a un público objetivo</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-8">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            El comunicador por habilidad
                  </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        Hay muchas personas que califican como buen comunicador y no precisamente tienen que ser profesionales. Por ejemplo, vendedores de tiendas especializadas, políticos, presentadores de televisión, etc. Se trata de gente que saca provecho al talento especial
                        para llegar eficientemente a los demás, colocando su mensaje en búsqueda de un resultado.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Comunicador en función de los medios
                  </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        Hay otras personas que son comunicadores en función de los medios que emplean. A menudo, son profesionales que se involucran en la gestión de los medios de comunicación “tradicionales” y que trasladan la información socialmente significativa. Tales medios
                        incluyen a la prensa escrita, la radio, la televisión.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Comunicador por conocimiento
                  </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        Este es el que ha estudiado, el que se ha formado y graduado en cualquiera de las especialidades de comunicación y que ejerce profesionalmente la actividad. Más allá de los que comunican en función de los medios, este comunicador suele ser académico,
                        investigador, consultor o comunicador corporativo. Incluimos aquí a los afines, como los lingüistas, los escritores, publicistas y los realizadores en general, que manejan con sentido productivo y técnico actividades que implican
                        el dominio de la palabra y de la imagen, de los recursos audiovisuales.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 my-auto" id="imgCom">
        <img src="../../../assets/img/comunicador.svg" class="img-fluid" height="350" width="350" alt="">
    </div>
</div>