<div class="card mt-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let item of [1,2,3]">
            <div class="row ">
                <div class="col-2 col-lg-1 ">
                    <img src="../../../assets/img/usuario.svg " class="img-fluid " width="50 " height="50 " alt=" ">
                </div>
                <div class="col-10 col-lg-11 ">
                    <div>
                        <h2>Título de la publicación</h2>
                        <small class="text-muted ">17-06-2020</small>
                    </div>
                    <p class="text-justify ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nisi, quo aliquam maxime illum facilis eveniet velit accusamus, natus nihil officiis sint asperiores, ratione minus laudantium praesentium enim repellendus ut ea iure
                        sapiente. Quos, praesentium. Quibusdam, saepe harum minima voluptatibus maxime illo unde, fugiat assumenda error, quisquam explicabo. Officiis, earum...</p>
                    <button class="btn btn-dark float-right ">Ver más...</button>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row mt-2">
    <div class="col d-flex justify-content-center ">
        <nav aria-label="Page navigation example ">
            <ul class="pagination ">
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Previous ">
                        <span aria-hidden="true ">&laquo;</span>
                    </a>
                </li>
                <li class="page-item "><a class="page-link " href="# ">1</a></li>
                <li class="page-item "><a class="page-link " href="# ">2</a></li>
                <li class="page-item "><a class="page-link " href="# ">3</a></li>
                <li class="page-item ">
                    <a class="page-link " href="# " aria-label="Next ">
                        <span aria-hidden="true ">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>